<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.khrystal.circlerecyclerviewdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- issue no loop but select center -->
        <activity android:name=".Issue11Activity"></activity>
        <!-- issue when select, get callback -->
        <activity android:name=".Issue12Activity"></activity>
        <!-- issue use real loop, not use max value-->
        <activity android:name=".Issue13Activity"></activity>
    </application>

</manifest>